body {
  
    
}
.figure{
  padding-left: 200px;
}
.plight{
  margin-left: 350px
}
#vids{
  padding-left: 100px
}
.reddish{
  margin-left: 200px
}
#blueish {
  
}
.higure {
  padding-left: 100px;
}
.nanish{
  padding-left: 100px;
}